<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Phone Relay</string>
	<key>CFBundleIdentifier</key>
	<string>com.mallenkb.PhoneRelay</string>
	<key>CFBundleName</key>
	<string>Phone Relay</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.26</string>
	<key>CFBundleVersion</key>
	<string>29</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_adb._tcp</string>
		<string>_adb-tls-connect._tcp</string>
		<string>_adb-tls-pairing._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Phone Relay for Android connects to your phone over your Wi-Fi network for wireless mirroring and automatic reconnect.</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://phonerelay.mallenkb.com/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>BRG3UL9d/8qtx7RJdobbGi1q87hpbEflfn1izHj/qgc=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
</dict>
</plist>
